/*Подключаю шрифты*/
@font-face {
  font-family: 'TT Lakes';
  src: url('../content/fonts/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('../assets/fonts/TTLakes-Bold'),
    url('../content/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../content/fonts/TTLakes-Bold.woff') format('woff'),
    url('../content/fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../content/fonts/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('../assets/fonts/TTLakes-Regular'),
    url('../content/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../content/fonts/TTLakes-Regular.woff') format('woff'),
    url('../content/fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../content/fonts/TTLakes-Medium.eot');
  src: local('TT Lakes Medium'), local('../assets/fonts/TTLakes-Medium'),
    url('../content/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('../content/fonts/TTLakes-Medium.woff') format('woff'),
    url('../content/fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: none;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "TT Lakes", "Verdana", sans-serif;
  color: #000;
  /*margin: 0px auto;*/
}

img {
  vertical-align: top;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container-top {
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
}

/*header*/

.header {
  width: 100%;
  height: 88px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #D9FFF5;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  /*margin-left: 16px;*/
  /*padding: 18.59px 16px;*/
}

.header__nav {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
  margin-right: 16px;
  margin-left: 16px;

}


.icons-buttons {
  display: none;
}


.menu {
  display: flex;
  position: relative;
  gap: 16px;
  /*поменять в больших экранах на 160px*/
  align-items: center;
  margin-right: 16px;
  /*поменять в больших экранах на 24px*/
}

.menu__paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*gap: 10px;-внести в большой экран*/
}

.menu__link {
  display: none;
}

.menu__repair {
  margin-left: 4px;
  /*нужно 20px: menu gap 16px+4px*/
}

.menu::before {
  content: '';
  display: block;
  position: static;
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
}

/*header*/

/*.title {
position: absolute;
height: 40px;
left: 5%;
right: 5%;
top: calc(50% - 40px/2 - 166.5px);

font-weight: bold;
font-size: 28px;
line-height: 40px;
letter-spacing: -0.6px;
color: #1B1C21;
}*/

/*h*/
.container-h {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.container-h__caption {
  margin-left: 12px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  width: 288px;
  height: 40px;

}

.container-h::before {
  content: '';
  width: 4px;
  height: 40px;
  background: #41F6D7;
  border-radius: 0px 6px 6px 0;
}

/*h*/

/*main*/
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
}

/*slide-menu*/
.slide-menu {
  overflow: auto;
}

.slide-menu::-webkit-scrollbar {
  width: 0;
}

.slide-menu__list {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  padding-left: 16px;
}


/*slide-menu ЭКРАНЫ
@media screen and (min-width: 767px) {
  .slide-menu__list {
      display: flex;
      padding-top: 24px;
      padding-left: 20px;
  }
  
}

@media screen and (min-width: 1120px) {
  .slide-menu__list {
      display: flex;
      width: 1100px;
      flex-wrap: wrap;
      margin-left: 35px;
      margin-top: 10px;
  }
}
slide-menu ЭКРАНЫ*/
.slide-menu__link,
.slide-menu__link_active {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'TT Lakes';
  font-weight: medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  white-space: nowrap;
  border: 2px solid transparent;
}

.slide-menu__link:hover,
.slide-menu__link_active {
  background-color: #fff;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.slide-menu__list:hover .slide-menu__link_active {
  background-color: #F8F8F8;
  border: 2px solid transparent;
  border-radius: 0;
}

.slide-menu__item .slide-menu__link_active:hover {
  background-color: #fff;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

/*slide-menu*/
/*текст*/
.infomation {
  display: flex;
  flex-direction: column;
}

.infomation__text-content {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.infomation__text {
  height: 90px;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
  overflow: hidden;
  box-sizing: content-box;
}

/*текст*/

/*читать дальше*/
.infomation__show-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.infomation__show-more-text {
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

/*читать дальше*/
/*фото*/
.infomation__photo {
  width: 100%;
  height: auto;
}

.infomation__logo {
  width: 100%;
  border: 2px solid #FFFFFF;
}

/*фото*/
/*

.menu__link {
  display: block;
}

.menu__link-repair {
  position: absolute;
  top: 10px;
  left: -140px;
  color:#000;
}

.menu__link-status {
  color:#000;
  position: absolute;
  top: 8px;
  left: 70px;
}*/



/*перенести на средний и большой размер экрана
.icons-buttons { 
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 20px;
}


.user-menu {
  display: flex;
  position: relative;
  gap: 16px;
  align-items: center;
  margin: 0;
}

.user-menu::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 32px;
  left: -20px;
  background-color: #EAEAEA; 
}
перенести на средний и большой размер экрана*/

@media (min-width: 767px) {
  .header__nav {
    gap: 20px;
    margin-left: 24px;
  }

  .header__burger {
    order: 1;
  }

  .header__nav::after {
    content: '';
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    order: 2;
  }

  .header__logo {
    order: 3;
  }

  .header__tactic {
    margin-left: auto;
    margin-right: 20px;
  }

  .icons-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .menu {
    margin-right: 24px;
  }

  .infomation__text-content {
    margin-left: 24px;
  }

  .infomation__text {
    height: 160px;
    line-height: 20px;
    margin-top: 8px;
  }

  .infomation {
    display: flex;
    flex-direction: row;
  }

  .infomation__logo {
    width: 360px;
    height: 208px;
    margin-left: 48px;
    margin-right: 25px;
    border-radius: 6px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1120px) {
  .container-top {
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
  }

  .header {
    border: none;
    background-color: #F8F8F8;
    padding: 0;
    margin: 0;
  }

  .header__nav {
    display: none;
  }

  .icons-buttons {
    display: none;
    /*Подумать, как это поменять*/
  }

  .menu {
    margin-left: auto;
    margin-top: 42px;
    gap: 32px;
    margin-right: 32px
  }

  .menu::before {
    display: none;
  }

  .menu__paragraph {
    gap: 10px;
  }

  .menu__link {
    display: block;
    white-space: nowrap;
  }

  .menu__link-repair,
  .menu__link-status {
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
  }

  .menu__repair {
    margin-left: 0px;
  }

  .container-h {
    margin-top: 42px;
    order: -1;
  }

  .slide-menu__list {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 8px;
  }

  .infomation__text-content {
    margin-left: 34px;
  }

  .infomation__text {
    margin-bottom: 0;
  }

  .info__logo {
    width: 531px;
    height: 307px;
    margin-left: 36px;
    margin-right: 29px;
    border-radius: 6px;
    margin-bottom: 49px;
  }
}